@import url('https://fonts.googleapis.com/css?family=Slabo+27px');

body {
    font-family: 'Helvetica Neue', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', sans-serif;
    font-weight: 400;
    letter-spacing: -.022em;
    font-synthesis: none;
    -moz-font-feature-settings: 'kern';
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: #333;
    line-height: 1.5em;
    padding: 25px;
}

img {
    max-width: 100%; /* Afbeeldingen responsive maken */
}

/* Voeg jouw css hieraan toe */

.content {
    margin: auto;
}

.list {
    width: 50%;
}

.picture {
    position: relative;
    float: right;
    width: 30%;
    margin: 0 50px 0 20px;
}

.picture img {
    width: 100%;
    box-shadow: 0px 3px 5px 1px #ccc;
}

.expl {
    font-style: italic;
    font-size: 14px;
    letter-spacing: 0px;
    font-weight: 200;
    padding: 10px;
    text-align: center;

/*wanneer je met muis over de afbeelding gaat krijg je extra informatie te zien. 
bron: https://stackoverflow.com/questions/14263594/how-to-show-text-on-image-when-hovering?utm_medium=organic&utm_source=google_rich_qa&utm_campaign=google_rich_qa */
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(51, 51, 51, 0.671);
    color: #fff;
    visibility: hidden;
    opacity: 0;
    transition: opacity .5s, visibility .5s;
    margin-bottom: 5px;
}

.picture:hover .expl {
    visibility: visible;
    opacity: 1;
}

h1 {
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 500;
    font-size: 28px;
    text-decoration:underline;
}

h2 {
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 400;
    font-size: 22px;
}

li, p {
    font-weight: 300;
    letter-spacing: 0.3px;
}

#frst {
    padding-top: 10px;
    text-indent: -20px;
    font-weight: 400;
    list-style-type: none;
    letter-spacing: 1px;
}

.pn {
    padding-top: 15px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.pn:first-of-type {
    padding-top: 0px;
}

a {
    text-decoration: none;
    position: relative;
    color: #333;
}

/* Onderlijnen van links wanneer er overgaan wordt met muis. 
bron: https://stackoverflow.com/questions/44673496/how-to-animate-a-link-underline-with-border-bottom-so-that-there-is-space-betwe?utm_medium=organic&utm_source=google_rich_qa&utm_campaign=google_rich_qa */
a:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 1px;
    bottom: 0;
    left: 0;
    background-color: #000;
    visibility: hidden;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
}
a:hover:before {
    visibility: visible;
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
}

hr {
    margin-right: 30%;
    border: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.151);
}



.colors {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
}

.color {
    position: relative;
    width: 15%;
    height: 200px;
    box-shadow: 1px 1px 3px #e0e0e0;
    margin-right: 10px;
    margin-bottom: 10px;
    
}

.color p {
    color: white;
    font-size: 14px;
    font-weight: 200;
    position: relative;
    text-align: center;
    top: 45%;
    transform: translateY(-50%); 
}

.c1 {
    background-color: hsla(195, 61%, 57%, 1);
}

.c2 {
    background-color: #9A9898;
}

.c3 {
    background-color: #BEBEBE;
}

.c4 {
    background-color: #7A7A7A;
}

.c5 {
    background-color: #F9F9FC;
}

.c5 p {
    color: #333;
}

.bolder {
    font-weight: 400;
}